
:root{
    --headerBg: #fff;
    --darkBlue: #0073a8;
    --Blue: #10b5cb;
    --lightBlue: #21d5ed;
    --darkOrange: #f97809;
    --Orange: #f68806;
    --lightOrange: #ffa001;
    --orangeGradient: linear-gradient(to right, var(--lightOrange), var(--darkOrange));
    --blueGradient: linear-gradient(to right, var(--lightBlue), var(--darkBlue));
}

.home{
    /* padding-top: 4rem; */
    width: 100%;
}

.upper>div:first-child{
    border-bottom: 1px solid grey;
    padding: 1.5rem;
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper>div:first-child>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.upper>div:first-child div h1{
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    /* position: relative; */
    /* top: 2rem; */
    /* background-color: lightgreen; */
    padding: 1rem 2rem;
    /* color: white; */
}

.upper > div:first-child > div > p {
    border: 1px solid black;
    padding: 0.6rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.upper > div:first-child > div > p:hover,
.upper > div:first-child > div > p:focus{
    background-color: black;
    color: white;
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); */
}

.upper > div:first-child > div > p:active{
    transform: scale(0.98);
}

.upper > div > img {
    height: 500px;
    width: 700px;
}

.upper>h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 0.5rem;
    text-decoration: underline;
}

.upper>div:nth-child(2)>div{
    /* border: 1px solid black; */
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.upper>div:nth-child(2)>div>h4{
    font-size: 25px;
    display: flex;
    align-items: center;
    color: var(--Blue);
    color: green;
}

.que>h4>svg{
    margin: 5px;
}

.upper>div:nth-child(2)>div>p{
    padding: 0 1.5rem;
    text-align: justify;
}

.que>p{
    margin: 0 2rem;
    text-align: justify;
    line-height: 1.5;
}

.faqs{
   padding: 1rem 0;
   padding-top: 2rem;
}

.faqs>.que{
    border-top: 1px solid grey;
    border-left: none;
    border-right: none;
    margin: 0 3rem;
    padding: 0.5rem 0;
    min-height: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: 0.5s;
}

.faqs>.que:last-child{
    border-bottom: 1px solid grey;
}

.faqs>.que>h4{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items:center;
}

.faqs>.que>h4::before{
    content: "";
    position: relative;
    left: 1px;
    top: 0;
    width: 5px;
    height: 0rem;
    background-color: black;
    transition: 0.5s;
}

.faqs>.que>h4:hover::before{
    height: 4rem;
}

.faqs>.que>h4:hover,
.faqs>.que>h4:focus{
    cursor: pointer;
}

.faqs>.que>h4>p{
    width: 5px;
    height: 100%;
    background-color: black;
}

.faqs>.que>h4>div{
    position: absolute;
    right: 5rem;
    font-size: 30px;
    color: grey;
}

.faqs>.que>h4:hover>div>svg
{
    color: black;
}

.faqs>.que>p{
    display: none;
    width: 60rem;
    margin: 1rem 2rem;
}